@mixin absolute-center($width, $height){
  width: $width;
  height: $height;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: $height * -0.5;
  margin-left: $width * -0.5;
}

@mixin nowrap(){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}